<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Feather UI</title>
    <link rel="icon" type="image/x-icon" href="../assets/logo.png">

    <!-- css -->
    <link rel="stylesheet" href="../css/base_styles/reset.css">
    <link rel="stylesheet" href="../css/base_styles/home.css">
    <link rel="stylesheet" href="../css/component_styles/getStarted.css">
    <link rel="stylesheet" href="../css/base_styles/media.css">
    <link rel="stylesheet" href="../css/component_styles/avatar.css">

    <link rel="stylesheet" href="../css/component_styles/badge.css">

    <!-- google fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300&family=Satisfy&display=swap" rel="stylesheet">

    <!-- font awesome cdn -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" rel="stylesheet">
</head>

<body>
    <header>
        <nav>
            <a href="../index.html">
                <img src="../assets/logo.png" alt="logo">
                <h2>Feather UI</h2>
            </a>
        </nav>
    </header>
    <main id="components">
        <section class="drawer">
            <ul>
                <a href="./getStarted.html">
                    <li class="active">Docs</li>
                </a>
                <li class="horizontal-line"><span></span></li>
                <a href="./avatar.html">
                    <li>Avatar</li>
                </a>
                <a href="./alert.html">
                    <li>Alert</li>
                </a>
                <a href="./badge.html">
                    <li>Badge</li>
                </a>
                <a href="./button.html">
                    <li>Button</li>
                </a>
                <a href="./card.html">
                    <li>Card</li>
                </a>
                <a href="./image.html">
                    <li>Image</li>
                </a>
                <a href="./input.html">
                    <li>Input</li>
                </a>
                <a href="./input.html">
                    <li>Input</li>
                </a>
                <a href="./textUtility.html">
                    <li>Typography</li>
                </a>
                <a href="./modal.html">
                    <li>Modal</li>
                </a>
                <a href="./snackbar.html">
                    <li>Snackbar</li>
                </a>
            </ul>
        </section>
        <section class="content">
            <h4>CSS</h4>
            <p>Copy-paste the stylesheet <span class="code">&lt;link&gt;</span> into your <span
                    class="code">&lt;head&gt;</span> before all other stylesheets to load our CSS. </p>
            <iframe class="code-img" class="docs1" title="docs"
                src="https://carbon.now.sh/embed?bg=rgba%28255%2C194%2C136%2C1%29&t=cobalt&wt=none&l=htmlmixed&width=680&ds=true&dsyoff=20px&dsblur=68px&wc=true&wa=true&pv=56px&ph=56px&ln=false&fl=1&fm=Hack&fs=14px&lh=133%25&si=false&es=2x&wm=false&code=%2540import%2520url%28%2522yet%2520to%2520release%2520...%2522%29%250A%250A%253Clink%2520rel%253D%2522stylesheet%2522%2520href%253D%2522yet%2520to%2520release%2520...%2522%253E"
                sandbox="allow-scripts allow-same-origin">
            </iframe>
            <span class="horizontal-line"></span>
            <div class="lower-navigation">
                <span><a href="../index.html">&lt; home</a></span>
                <span><a href="./avtar.html">Avtar &gt;</a></span>
            </div>
        </section>
    </main>
</body>

</html>