@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&family=Satisfy&display=swap');
@import url('../base_styles/reset.css');

/* global css */
:root {

    /* color */
    --bg-color: #fff;
    --text-color: #000;
    --primary-color: #FF6701;
    --secondary-color: #FFC288;
    --hover-color: #FCECDD;
    --color-success: #38A169;
    --color-warning: #DD6B20;
    --color-error: #E53E3E;
    --color-info: #4C95D6;
    --color-success-bg: #C6F6D5;
    --color-warning-bg: #FEEBC8;
    --color-error-bg: #FED7D7;
    --color-info-bg: #BEE3F8;
    --color-dnd: #808080;
    --color-link: #058CE0;
    --color-hover-gray: #d3d3d3;
    --snackbar-color: rgba(0, 0, 0, .8);

    /* box shadow */
    --snackbar-shadow: 0 0 5px var(--text-color);
    --card-shadow: 8px 8px 8px 0px var(--color-dnd);

    /* border radius */
    --border-2: 2px;
    --border-5: 5px;
    --border-round: 50%;
}

main {
    height: 100vh;
}

/* --------------- home page css ---------------  */

/* header and navbar */
nav {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    background-color: var(--hover-color);
    width: 100%;
    border-bottom: solid 1px var(--primary-color);
    box-shadow: 0 1px 3px var(--secondary-color);
}

nav a {
    display: flex;
    align-items: center;
    justify-content: center;
}

nav h2 {
    font-family: 'Satisfy', cursive;
    color: var(--primary-color);
    cursor: pointer;
}

nav img {
    width: 5rem;
    height: auto;
}

/* hero section */

.hero-section {
    position: relative;
    width: 80vw;
    margin: auto;
    padding: 5rem 2rem;
    top: 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.logo img {
    width: 12rem;
}

.sub-heading {
    margin: 2rem auto;
    font-weight: 600;
}

.btn {
    border: solid 2px var(--primary-color);
    border-radius: 5px;
    padding: 8px;
    font-weight: bold;
    background-color: transparent;
    margin: 5px;
    transition: 0.2s;
}

.home-btn-primary {
    background-color: var(--primary-color);
    color: var(--bg-color);
}

.home-btn-secondary {
    color: var(--primary-color);
}

.btn:hover {
    cursor: pointer;
    transform: scale(1.05);
}
