@media only screen and (min-width : 800px) {
    html{
        font-size: 75%;
    }
    nav a{
        justify-content: flex-start;
    }
    .hero-section{
        width: 65vw;
        padding: 2rem 6rem;
    }
    #components{
        display: grid;
        grid-template-columns: 20% auto;
    }
    .drawer {
        background-color: var(--bg-color);
    }
    .drawer ul {
        display: flex;
        flex-direction: column;
        row-gap: 1rem;
        overflow: auto;
    }
    .horizontal-line{
        display: block;
        width: 100%;
        border-bottom: solid 0.1rem var(--primary-color);
        padding: 0 !important;
    }
    .content{
        width: 80%;
    }
}
@media only screen and (min-width : 1000px) {
    html{
        font-size: 100%;
    }
}