#components {
    margin-top: 5rem;
}

/* drawer css */
.drawer {
    background-color: var(--secondary-color);
    padding: 1rem;
}

.drawer ul {
    display: flex;
    column-gap: 1rem;
    overflow: auto;
}

::-webkit-scrollbar {
    display: none;
}

.drawer ul li {
    padding: 0.5rem;
    font-weight: bold;
    border-radius: 0.5rem;
}

.active,
.drawer ul li:hover {
    cursor: pointer;
    background-color: var(--hover-color);
    color: var(--primary-color);
}

.horizontal-line {
    display: none;
}

/* content section */

.content {
    width: 90%;
    margin: 1rem auto;
}

.content h4, .content h5 {
    color: var(--primary-color);
    margin-bottom: 1rem;
}

.code {
    color: var(--primary-color);
    background-color: var(--hover-color);
    padding: 0.2rem;
    border-radius: 0.2rem;
}

.code-img {
    width: 80%;
    height: auto;
    margin: 2rem auto;
}

.horizontal-line2{
    display: block;
    border-bottom: solid 0.1rem var(--secondary-color);
    width: 100%;
    padding: 0 !important;
    margin: 2rem auto;
}

.wrapper{
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    background-color: var(--hover-color);
    border-radius: 0.5rem;
    margin: 1rem 0;
    padding: 2rem 1rem;
}

.lower-navigation {
    font-weight: 600;
    margin-top: 1rem;
    display: flex;
    justify-content: space-between;
    color: var(--primary-color);
}