@import url('./components.css');
@import url('./button.css');
/* snackbar css */

.snackbar {
    background-color: var(--snackbar-color);
    border-radius: 5px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 1rem;
    width: 32rem;
    margin: auto;
    box-shadow: var(--snackbar-shadow);
}

.snackbar-text {
    font-size: 1.2rem;
    margin-right: auto;
    color: var(--bg-color);
}

.retry {
    font-size: 1.2rem;
    color: var(--primary-color);
    background-color: transparent;
    border: none;
    font-weight: bold;
}

.retry:hover {
    cursor: pointer;
}

.snackbar-docs {
    min-height: 15rem;
}

.snackbar-container-hidden{
    display: none;
}

.snackbar-container{
    position: fixed;
    bottom: 1rem;
    width: 100%;
    right: 0;
    left: 0;
    margin: auto;
}

